<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ConfigConnectionString" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=dbConfig;User ID=sa;Password=FE3DT0" providerName="System.Data.SqlClient" /><add name="dbConfigEntities" connectionString="metadata=res://*/DataAccess.dbConfig.csdl|res://*/DataAccess.dbConfig.ssdl|res://*/DataAccess.dbConfig.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SM_IJUAREZ\MSSQLSERVER14;initial catalog=dbConfig;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <appSettings>
    <add key="LogDirectory" value="C:\Temp\Bitacora\" />
    <add key="UserAdmin" value="ADMINISTRADOR" />
    <add key="Clave" value="Mabel" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>